.author {
    border-bottom: 1px solid #C3B1A5;
}

.author__title {
    margin-bottom: 60px;
    padding-top: 100px;

    @include phones__768 {
        padding-top: 40px;
        margin-bottom: 40px;
    }
}

.author__list {
    margin-bottom: 16px;
}

.author__box {
    margin-bottom: 100px;

    @include phones__768 {
        margin-bottom: 40px;
    }
}

.author__material {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 32px;

    @include phones__768 {
        font-size: 18px;
        line-height: 24px;
    }
}

.author__contacts {
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 32px;

    @include phones__768 {
        font-size: 18px;
        line-height: 24px;
    }
}

.author__box {
    display: flex;

    @include desktop_1366 {
        flex-direction: column;
    }

    .link:first-child {
        margin-right: 50px;

        @include desktop_1366 {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }

    .link:nth-child(2) {
        margin-right: 50px;

        @include desktop_1366 {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
}
