.card {
    width: 50%;

    &:nth-child(2n+1) {
        border-right: 1px solid #C3B1A5;

        @include tablets_1024 {
            border-right: none;
        }
    }

    &:nth-child(1),
    &:nth-child(2) {
        border-bottom: 1px solid #C3B1A5;
    }

    &:last-child {
        @include tablets_1024 {
            border-bottom: none;
        }
    }

    @include tablets_1024 {
        width: 100%;
        border-bottom: 1px solid #C3B1A5;
    }

    @include phones__480 {
        width: 100%;
    }
}

.card__list {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #C3B1A5;

    @include tablets_1024 {
        flex-direction: column;
    }
}

.card__flex {
    position: relative;
    display: flex;
    align-items: start;
    padding: 20px;
}

.card__block {
    padding-bottom: 10px;

    &:first-child {
        flex-shrink: 0;
        margin-right: 50px;
        position: relative;
        display: block;
        width: 25%;
        padding-bottom: 38%;
    }

    &:last-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.card__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card__date {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 20px;
}

.card__month {
    color: $c-link-main;
}

.card__day-week {
    color: $c-text-main;
}

.card__title {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.card__link {
    position: absolute;
    bottom: 7px;
    left: calc(25% + 60px);
}
