.events {
    border-bottom: 1px solid #C3B1A5;
}

.events__title {
    margin-bottom: 60px;
    padding-top: 100px;

    @include phones__768 {
        padding-top: 40px;
        margin-bottom: 40px;
    }
}

.events__list {
    margin-bottom: 40px;
}

.events__link {
    margin-bottom: 100px;

    @include phones__768 {
        margin-bottom: 40px;
    }
}
