.link {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: $font-second;
    font-size: 20px;
    line-height: 26px;
    color: $c-link-main;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;

    @include tablets_1024 {
        font-size: 18px;
        line-height: 24px;
    }

    & svg {
        margin-left: 12px;
        fill: $c-link-main;
        transition: 0.5s;
    }

    &:hover {
        color: $c-link-hover;

        & svg {
            fill: $c-link-hover;
        }
    }
}
